html 
    head 
     title Login
     link(rel="stylesheet", href="denegado.css")

    body 
         div(class="container")
          h2(class="text") el usuario ya fue registrado, use otro nombre.      
          button(class="back") back

    script(src="funciondenegado.js")   