html 
    head 
     title game
     link(rel="stylesheet", href="juego.css")

    body 
       div(id="contador")
       div(id="juego")   
        div(id="pj")
        div(id="tubo")
        div(id="agujero")
       div(id="record")= recordd 
       
       
    <script src="juego.js"></script>      